.sidebar {
  border-right: 1px solid var(--diff-three);
  width: 350px;

  & .sidebar_sidebar {
    border-right: 1px solid var(--diff-three);

    &>* {
      all: unset;
      padding: 1em;

      &:hover {
        background-color: var(--diff-two);
      }

      &.active {
        background-color: var(--diff-one);
        color: var(--hl-one);
      }
    }
  }

  & .quick_insert_tiles {
    gap: .3em;
  }

  & .insert_tile {
    padding: .7em;
    background: var(--bg-two);
    border-radius: .3em;
    display: flex;
    gap: .5em;
    &:hover {
      filter: brightness(1.2);
    }
  }

  & .sidebar_content {
    height: 100%;
    width: 100%;
  }

  & .sidebar_page {
    padding: .5em;
  }
}