.sidebar {
  border-right: 1px solid var(--diff-three);
  width: 350px;

  & .sidebar_sidebar {
    border-right: 1px solid var(--diff-three);

    &>* {
      all: unset;
      padding: 1em;

      &:hover {
        background-color: var(--diff-two);
      }

      &.active {
        background-color: var(--diff-one);
        color: var(--hl-one);
      }
    }
  }

  & .quick_insert_tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    width: 100%;
    gap: .3em;

    &>* {
      display: inline-flex;
    }
  }

  & .insert_tile {
    padding: .7em;
    background: var(--bg-two);
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .sidebar_content {
    height: 100%;
    width: 100%;
  }

  & .sidebar_page {
    padding: .5em;
  }
}