.sidebar {
  border-right: 1px solid var(--diff-three);
  width: 350px;

  & .sidebar_sidebar {
    border-right: 1px solid var(--diff-three);

    &>* {
      all: unset;
      padding: 1em;

      &:hover {
        background-color: var(--diff-two);
      }

      &.active {
        background-color: var(--diff-one);
        color: var(--hl-one);
      }
    }
  }

  & .quick_insert_tiles {
      gap: .3em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  }

  & .insert_tile {
    padding: .7em;
    background: var(--bg-two);
    border-radius: .3em;
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: small;
    fill: var(--fg-one);
    &:hover {
      filter: brightness(1.2);
    }
    & svg {
        width: 80%;
        height: 18pt;
    }
    &.active {
      background:var(--hl-four);
      fill: var(--hl-two);
      color: var(--hl-two);
    }
  }

  & .sidebar_content {
    height: 100%;
    width: 100%;
  }

  & .sidebar_page {
    padding: .5em;
  }
}
