.headings_sidebar {
  border-left: 1px solid var(--diff-three);
  width: 350px;
  overflow-y: auto;

  & .heading {
    padding: .5em .5em;

    &:hover {
      background-color: var(--diff-one);
    }

    &>* {
      font-size: 1.5em;
      margin: 0;
    }

    &.H2 {
      font-weight: normal;
      font-size: .9em;
    }

    &.H3 {
      font-weight: normal;
      font-size: .8em;
    }
  }
}

.input {
  min-width: 0;
  background-color: var(--bg-two);
  padding: .5em;
  border: none;
  outline: none;
  border-radius: .3em;
  color: var(--fg-one);
}

.inpgrp {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: .2em;

  & .label {
    width: fit-content;
    opacity: 1;
    flex: 1;
  }

  & .input {
    flex: 2;
    margin-right: .5em;
    width: 5em;
  }
}

.focusedNodeEditor {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;
  align-items: center;
}

.quick_action_tiles {
  border-top: 1px solid var(--diff-three);
  border-bottom: 1px solid var(--diff-three);
  margin-bottom: .5em;

  &>* {
    display: flex;
    gap: .3em;
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      box-shadow: 11px 0px 0 -10px var(--diff-three);
    }

    &:hover {
      box-shadow: none;
    }

    & svg {
      color: var(--hl-one);
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.thrinput {
  margin: .5em;
  gap: .3em;
  align-items: center;
}

summary {
    padding: .2em .5em;
    background-color: var(--bg-two);
    margin: .3em 0px;
}

.drop-indicator {
  min-width: 3px;
  height: 3px;
  background-color: var(--hl-one);
}

.box {
  padding: .5em;
  display: block;
  margin: .5em;
  border-radius: .5em;
  background-color: var(--diff-one);
}
